@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #e1e1e1;
  --foreground: #1b2021;
  --background-half: #e1e1e17f;
  --foreground-half: #1b20217f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2021;
    --foreground: #e1e1e1;
    --background-half: #1b20217f;
    --foreground-half: #e1e1e17f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--foreground);
}
::-webkit-scrollbar-thumb {
  background: var(--background-half);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}

.create-user {
  height: 100dvh;
}
.create-user,
.create-user form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--background), 0 0 0 3px var(--foreground);
}
.create-user form {
  gap: 10px;
  width: 100%;
}

.sign-in form input,
.create-user form input {
  padding: 12px;
  border-radius: 0.25em;
  color: var(--background);
  background: var(--foreground);
  width: 300px;
}

.sign-in form button,
.create-user form button {
  padding: 12px;
  background: var(--background);
  color: var(--foreground);
  border-radius: 10px;
  border: 1px dashed var(--foreground);
}
